<%- include('partials/header') %>
<body>
<div class="top_header" id="home">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="nav_top_fx_w3ls_agileinfo">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <div class="logo-w3layouts-agileits">
		<div class="d-flex col-6 justify-content-around">
				<a class="navbar-brand logo" href="/index"><img src="/images/FinalLOGO.png" alt="logo" width="70" height="70"></a>
				   <a class="navbar-brand"><h1 class="display"><i>Al-Arab Export & Import</i></h1>
				   <span class="lead desc">We Trade The World</span></a>
		   </div>
	 </div> 
</div>
<div id="navbar" class="navbar-collapse collapse">
				<div class="nav_right_top">
					
					<ul class="nav navbar-nav">
						<li><a href="index">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
							<ul class="dropdown-menu">
									<li><a href="veges">Vegetables</a></li>
									<li><a href="fruits">Fruits</a></li>
									<li><a href="spices">Spices</a></li>
									<li><a href="grocery">Grocery</a></li>
									<!-- <li><a href="clothes">Clothes</a></li> -->

							</ul>
						</li>
						<!-- <li><a href="category.html">Category</a></li> -->

						<li><a href="about">About us</a></li>
						<!-- <li><a href="portfolio.html">Portfolio</a></li> -->
						<li><a href="contact">Contact</a></li>
						
					</ul>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	</div>
	<!--/banner_info-->
	<div class="banner_inner_con">
	</div>
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li><a href="index">Home</a><span>|</span></li>
				<li>404</li>
			</ul>
		</div>
	</div>
	<!--//banner_info-->
	<!-- /inner_content -->
<div class="banner_bottom">
		<div class="container">
<div class="error-404">
				<h4>404</h4>
				<p>Oops ! Nothing to See here.</p>
				</div>
				
		</div>
	</div>

	<%- include('partials/footer') %>