<%- include('partials/header') %>
<body>
	<div class="top_header" id="home">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="nav_top_fx_w3ls_agileinfo">
				 <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					    aria-controls="navbar">
          		  <span class="sr-only">Toggle navigation</span>
           		 <span class="icon-bar"></span>
          		  <span class="icon-bar"></span>
          		  <span class="icon-bar"></span>
					  </button> 
					  
					 
					  <div class="logo-w3layouts-agileits">
						 <div class="d-flex col-6 justify-content-around">
						 		<a class="navbar-brand logo" href="/index"><img src="/images/FinalLOGO.png" alt="logo" width="70" height="70"></a>
									<a class="navbar-brand"><h1 class="display"><i>Al-Arab Export & Import</i></h1>
									<span class="lead desc">We Trade The World</span></a>
							</div>
					  </div> 
				 </div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="nav_right_top">


						<!-- <ul class="nav navbar-nav navbar-right">
							<li><a class="request" href="contact.html">Send Request</a></li>
								<i class="fa fa-clone" aria-hidden="true"></i>
						</ul> -->
						
						<ul class="nav navbar-nav">
							<li><a href="index">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
								<ul class="dropdown-menu">
										<li><a href="veges">Vegetables</a></li>
										<li><a href="fruits">Fruits</a></li>
										<li><a href="spices">Spices</a></li>
										<li><a href="grocery">Grocery</a></li>
									    <!-- <li><a href="clothes">Clothes</a></li> -->
								</ul>
							</li> 
							 <li class="active"><a href="service">Services</a></li> 
							<li><a href="about">About us</a></li>
							<!-- <li><a href="portfolio.html">Portfolio</a></li> -->
							<li><a href="contact">Contact</a></li>
							 
						</ul>
					</div>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</div>
	<!--/banner_info-->
	<div class="banner_inner_con">
	</div>
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li><a href="index">Home</a><span>|</span></li>
				<li>Services</li>
			</ul>
		</div>
	</div>
	<!--//banner_info-->
	<div class="news-main">
		<div class="container">
			<h3 class="tittle-w3ls"><u>ADDITIONAL SERVICES</u>
			</h3>
			<div class="inner_sec_info_wthree_agile">
				<div class="help_full">
						
					 <!-- <div class="col-md-6 banner_bottom_left">  -->
						<ul>
								<li><h3>We Provide,</h3></li>
						</ul>
						<ol type="1" style="margin-top: 20px !important;">
						<li><h4><p>Letter of Credit (LC) 
							(At Sight or Usance for the period of [30 Days or 60 Days]).
							</p></h4></li>

						<li><h4><p>Standby Letter of Credit (SBLC)for period of [1 Year].</p></h4></li>
						   
						<li><h4><p>Bank Guarantee (BG) for period of [ 6 Months to 1 Year ]
						</p></h4></li>

						<li><h4><p>Performance Bank Guarantee (PBG)for period of [1 Year to 3 Year ]. </p></h4></li>
					</ol>
					<ul style="margin-top: 20px !important;">
							<li><h3>For your any trade deal,
									</h3></li>
					</ul>
					<ol type="1" style="margin-top: 20px !important;"> 

						<li><h4><p>Get LC or SBLC , BG,  PBG in 5 -7 banking days. </p></h4></li>

						<li><h4><p>We are having 7+ years of experience in Trade & Finance. With our own credit lines.   </p></h4></li>
							 
						<li><h4><p>We are providing LC,  SBLC,  BG,  PBG without any collateral Security, With our Fees Only </p></h4></li>
					</ol>
					<ul style="margin-top: 30px !important;">
							<li><h4>If  you have any deal pending with you or looking for LC, SBLC,  BG,  PBG. 

									Please Contact Us.
									</h4></li>
					</ul>
						</div>
						<!-- <div class="ab_button">
							<a class="btn btn-primary btn-lg hvr-underline-from-left" href="single" role="button">Read More </a>
						</div> -->

					<!-- <div class="col-md-6 banner_bottom_grid help">
						<img src="/images/banner_mid.jpg" alt=" " class="img-responsive">
					</div> -->
					 <div class="clearfix"></div>
				</div>
			</div>
		</div>
</div>
<div class="news-main"></div>


<%- include('partials/footer') %>